<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hello <span th:text="${name}"></span>,</p>
    <p th:if="${name.length() > 10}">
      Wow! You've got a long name (more than 10 chars)!
    </p>
    <p>
      You are receiving this email as per <b>your transactions</b> on
      <span th:text="${#dates.format(subscriptionDate)}">03-11-2015</span>
    </p>
    <p>Below are your transactions are:</p>
    You are interested to
    <table>
	  <tr>
	    <th>Transaction Type</th>
	    <th>Product</th>
	  </tr>
		<div th:each="emailForm : ${emailForms}" th:remove="tag">
			<td th:text="${emailForm.transactionTypes}">2.41</td>
			<td th:text="${emailForm.products}">Onions</td>
		</div>

<!-- 	  <tr th:each="transaction : ${transactions}">
	    <td style="width: 50%;" th:text="${transaction}">Onions</td>
	  </tr>
	  <tr th:each="product : ${products}">
	    <td style="width: 50%;" th:text="${product}">2.41</td>
	  </tr> -->
	</table>
<!--     <div th:each="productTransaction : ${productTransactions}">
		    <span style="width: 50%;"><span th:text="${productTransaction[index]}">Transaction Type</span>
		    </span>
	    	<span style="width: 50%;"><span th:text="${productTransaction[index+1]}">Product</span>
	    	</span>
    </div>  -->   
<!--     <div th:each="product : ${products}">
    	<div th:each="transaction : ${transactions}">
		    <span style="width: 50%;"><span th:text="${transaction}">Transaction Type</span>
		    </span>
	    	<span style="width: 50%;"><span th:text="${product}">Product</span>
	    	</span>
    	</div>
    </div -->
<!--     <ul>
      You are interested to <li th:each="transaction : ${transactions}" th:text="${transaction}" >Product Listing</li>
      <ul>
      <li th:each="product : ${products}" th:text="${product}" />
      </ul>
    </ul> -->
    <p>
      Below is <b>your product images</b>.
    </p>
    <p>
      <img src="sample.png" th:src="'cid:' + ${imageResourceName}" />
    </p>
    <p>
      Regards, <br />
      <em>The CXC Team</em>
    </p>
  </body>
</html>