<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">

<head>
	<title>Transact</title>
	
	<script type="text/javascript">
	function uploadFile() {
		$.messager.alert("Please ensure that the image is 180px in width and height, for better visual clarity!");
/* 		var size = document.getElementById("image1").files[0].size;
        alert('This file size is: ' + this.file[0].size/1024/1024 + "MB"); */
	}
    </script>
</head>

<body class="homepage">
    <section layout:fragment="slider" th:remove="tag">
		<div th:replace="fragments/usertransact :: transact"></div>    
    </section>
	<section layout:fragment="response" th:remove="tag">
    </section>         
</body>

</html>