<div th:fragment="login">
<section id="feature" >
  <div class="container" style="width: 355px; padding-top: 15px;">
  
      <div class="center">
      	<h2>Login</h2>
      </div>
      <div class="center">
        <form th:action="@{/user/login}" method="post">

           <div th:if="${param.error}">
            Invalid username and password, or checkbox - "<b>I'm not a robot</b>" - not selected".
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
            <div class="form-group"><label>User Name<input type="text" name="username" maxlength="45" class="form-control" required="required"/> </label></div>
            <div class="form-group"><label>Password<input type="password" name="password" maxlength="45" class="form-control" required="required"/> </label></div>
			<div class="g-recaptcha form-group" data-type="image" data-sitekey="6LcXUwgTAAAAALBglYmHTDBf48NVAbPvksG-C_zV" ></div><!-- required="required" -->
            <div class="form-group">
				<button type="submit" name="submit" class="btn btn-primary btn-lg" required="true">Sign In</button>
            </div>     
		</form>  
		<div>
		<p><a th:href="@{/user/forgotpassword}" >Forgot Password!</a> - Click here</p>
         	  <p th:text="${responseMessage}" class="center"/>        
		</div>
		<div>
		<p>If you are new, Please <a th:href="@{/user/register}" >Register </a>here</p>   
		</div>		
    </div> 
  </div>
  <!--/.container--> 
</section>
</div>