<div th:fragment="slider">

<!-- Slider Starts -->
<div class="banner">
          <img th:src="@{/images/back.jpg}" alt="banner" class="img-responsive"/>
          <div class="caption">
            <div class="caption-wrapper">
              <div class="caption-info">              
              <i class="fa fa-coffee fa-5x animated bounceInDown"></i>
              <h1 class="animated bounceInUp">Start to sell, buy, barter and exchange for free</h1>
              <p class="animated bounceInLeft">And make great business friends... </p>
             <a href="#menu" class="explore animated bounceInDown"><i class="fa fa-angle-down  fa-3x"></i></a>
              </div>
            </div>
          </div>
</div>
<!-- #Slider Ends -->
</div>