<div th:fragment="transact">
  <div class="container" style="width: 785px; padding-top: 15px;">
		<div class="row">
			<div class="main">		
				<h2 style="text-align: center;" data-th-text="#{user.action.buyorsell}">User</h2>



<ul class="nav nav-tabs">
    <li class="active"><a href="#buy-tab" data-toggle="tab">I Want to Buy<i class="fa"></i></a></li>
    <li><a href="#wantfree-tab" data-toggle="tab">I Want Free<i class="fa"></i></a></li>
    <li><a href="#exchangefree-tab" data-toggle="tab">I eXchange Free<i class="fa"></i></a></li>
    <li><a href="#sell-tab" data-toggle="tab">I Want to Sell<i class="fa"></i></a></li>
    <li><a href="#loan-tab" data-toggle="tab">I Lend Free<i class="fa"></i></a></li>
    <li><a href="#givefree-tab" data-toggle="tab">I Give free<i class="fa"></i></a></li>
    <li><a href="#rent-tab" data-toggle="tab">I Rent<i class="fa"></i></a></li>
</ul><!--  -->

<form class="form-horizontal" id="upload-file-form" th:action="@{/user/transact}" th:object="${new1User}" method="post" enctype="multipart/form-data">
<!-- <form id="accountForm" method="post" class="form-horizontal"> -->
    <div class="tab-content">
        <div class="tab-pane active" id="buy-tab">
            <div class="form-group">
                <label class="col-xs-4 control-label">Item Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{seeks[0].itemOffered.name}" name="name"/>
                    <input type="hidden" class="form-control" th:field="*{seeks[0].itemOffered.category}" name="category" value="Buy"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Can buy for</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{seeks[0].priceSpecification.price}" name="price" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Currency</label>
                <div class="col-xs-8">
                    <select class="form-control" th:field="*{seeks[0].priceSpecification.priceCurrency}" name="priceCurrency">
                        <option disabled="true" value="">Select a currency</option>
                        <option selected="selected" value="INR">Indian Rupee</option>
                        <option value="US">US Dollar</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="wantfree-tab">
            <div class="form-group">
                <label class="col-xs-4 control-label">Item Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{seeks[1].itemOffered.name}" name="name" />
                    <input type="hidden" class="form-control" th:field="*{seeks[1].itemOffered.category}" name="category" value="WantFree"/>
                </div>
            </div>
        </div>
        
		<div class="tab-pane" id="exchangefree-tab">
            <div class="form-group">
                <label class="col-xs-4 control-label">this Item Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{makesOffer[1].itemOffered.name}" name="name" />
                    <input type="hidden" class="form-control" th:field="*{makesOffer[1].itemOffered.category}" name="category" value="ExchangeGive"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Image</label>
                <div class="col-xs-8">
	                <input type="file" th:onchange="'javascript:uploadFile();'" accept="image/*" class="form-control" th:field="*{imageFiles}" name="imageFile[0]" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">for this Item</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{seeks[2].itemOffered.name}" name="name" />
                    <input type="hidden" class="form-control" th:field="*{seeks[2].itemOffered.category}" name="category" value="ExchangeGet"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Image</label>
                <div class="col-xs-8">
	                <input type="file" id="image1" th:onchange="'javascript:uploadFile();'" accept="image/*" class="form-control" th:field="*{imageFiles}" name="imageFile[1]" />                
				</div>
            </div>
        </div>
        
        <div class="tab-pane" id="sell-tab">
            <div class="form-group">
                <label class="col-xs-4 control-label">Item Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{makesOffer[0].itemOffered.name}" name="name" />
                    <input type="hidden" class="form-control" th:field="*{makesOffer[0].itemOffered.category}" name="category" value="Sell"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Image</label>
                <div class="col-xs-8">
	                <input type="file" accept="image/*" class="form-control" th:field="*{imageFiles}" name="imageFile[2]" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Can sell for</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{makesOffer[0].price}" name="price" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Currency</label>
                <div class="col-xs-8">
                    <select class="form-control" th:field="*{makesOffer[0].priceCurrency}" name="priceCurrency">
                        <option disabled="true" value="">Select a currency</option>
                        <option selected="selected" value="INR">Indian Rupee</option>
                        <option value="US">US Dollar</option>
                    </select>
                </div>
            </div>
        </div>        
 
		<div class="tab-pane" id="loan-tab">
            <div class="form-group">
                <label class="col-xs-4 control-label">this Item Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{makesOffer[2].itemOffered.name}" name="name" />
                    <input type="hidden" class="form-control" th:field="*{makesOffer[2].itemOffered.category}" name="category" value="Lend"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Image</label>
                <div class="col-xs-8">
	                <input type="file" accept="image/*" class="form-control" th:field="*{imageFiles}" name="imageFile[3]" />
                </div>
            </div>
        </div>

		<div class="tab-pane" id="givefree-tab">
            <div class="form-group">
                <label class="col-xs-4 control-label">this Item Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{makesOffer[3].itemOffered.name}" name="name" />
                    <input type="hidden" class="form-control" th:field="*{makesOffer[3].itemOffered.category}" name="category" value="GiveFree"/>                    
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Image</label>
                <div class="col-xs-8">
	                <input type="file" accept="image/*" class="form-control" th:field="*{imageFiles}" name="imageFile[4]" value="imageFile[4]"/>
                </div>
            </div>
        </div>

   		<div class="tab-pane" id="rent-tab">
            <div class="form-group">
                <label class="col-xs-4 control-label">Item Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{makesOffer[4].itemOffered.name}" name="name" />
                    <input type="hidden" class="form-control" th:field="*{makesOffer[4].itemOffered.category}" name="category" Value="Rent" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Image</label>
                <div class="col-xs-8">
	                <input type="file" accept="image/*" class="form-control" th:field="*{imageFiles}" name="imageFile[5]" />
                </div>
            </div>
            
			<div class="form-group">
                <label class="col-xs-4 control-label">Can rent for</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" th:field="*{makesOffer[4].price}" name="price" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Currency</label>
                <div class="col-xs-8">
                    <select class="form-control" th:field="*{makesOffer[4].priceCurrency}" name="priceCurrency">
                        <option disabled="true" value="">Select a currency</option>
                        <option selected="selected" value="INR">Indian Rupee</option>
                        <option value="US">US Dollar</option>
                    </select>
                </div>
            </div>
        </div>                
    </div>

    <div class="form-group" style="margin-top: 15px;">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>


			</div>		<!-- END MAIN TAG -->
		</div>		<!-- END ROW TAG -->
	</div>	<!-- END CONTAINER TAG -->
	</div>